/* About section stylings */
.about-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 5rem 2rem;
}

@media screen and (max-width: 800px) {
  .about-section {
    flex-direction: column;
  }
}

.about-textbox,
.about-img-wrapper {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .about-textbox,
  .about-img-wrapper {
    width: 100%;
  }
}

.about-text-subtitle {
  font-size: 1.4rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.about-title {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-description {
  font-size: 1.4rem;
  line-height: 2;
  color: var(--color-grey);
  margin-bottom: 1rem;
}

.about-cta {
  background-color: var(--color-black);
  color: var(--color-white);
  text-transform: capitalize;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.about-img-wrapper {
  height: 33rem;
}

.about-img-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}
/* End of the about section stylings */
